# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

1. `*` = expression


2. `'hello'` = value


3. `-87.8` = value


4. `-` = expression


5. `/` = expression


6. `+` = expression


7. `6` = value

# 2. What is the difference between string and variable?

* **String** is a sequence of characters.

  **Variables** are identifiers which is used to identify the data.
  
  
* **Strings** are data enclosed within double quotes or single quotes.

  **Variables** can store any data types which are available in python.
  
  
* **Strings** have index values or indices.

  **Variables** does'nt have index or indices.

# 3. Describe three different data types.

* **integer (int)** : It is one of the data types in python, which represents that the data are integer. Integers a whole numbers(positive, negative or zero). They can be binary, hexadecimal and octal.

         ex: 1, 5, 33, -90, 100

* **floating point numbers (float)** : It is one of the data types in python, which represents that the data are floating point numbers. The floating point numbers are real numbers with fractional part (positive or negative). They are denoted by the decimal point or can even be denoted by scientific notations.

         ex: 11.24, -22.8, 0.96

* **complex numbers (complex)** : It consits both real part and imaginary part.

         ex: 2+8j, 3-5j

In [7]:
a = 23
print("data type of a  is: ",type(a))

b = -90
print("data type of b  is: ",type(b))

data type of a  is:  <class 'int'>
data type of b  is:  <class 'int'>

In [9]:
c = 34.9
print("data type of c  is: ",type(c))

d = -78.7
print("data type of d  is: ",type(d))

data type of c  is:  <class 'float'>
data type of d  is:  <class 'float'>

In [11]:
e = 34+8j
print("data type of e  is: ",type(e))

f = -78.9-6j
print("data type of f  is: ",type(f))

data type of e  is:  <class 'complex'>
data type of f  is:  <class 'complex'>

# 4. What is an expression made up of? What do all expressions do?

An expression is made up of operators and operands inorder to perform some specific tasks that results to a single value. All expressions performs arithmetic and logical operations that results to a single value.

ex:

In [15]:
a = 20
b = 10
# a and b are operands

# arithmetic operation

res = a + b         # addition
print("a + b = ",res)

# logical operation

c = a & b          # bitwise and 
print("a & b = ",c)

a + b =  30
a & b =  0

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

* **Expression** consists of operators and operands.
    
    ex:  5 * 5 = 25
    
    here, both the `5s` are operands.
    
    `*`  is the operator.
    
    `25` is the required result.
    
          
* **Statement** consists of assignment operator i.e.,`=`.

   ex:  spam = 10

# 6. After running the following code, what does the variable bacon contain?

### bacon = 22

### bacon + 1

In [22]:
bacon = 22

bacon + 1

23

In [23]:
bacon

22

The variable bacon contains 22 and bacon + 1 results 23.

# 7. What should the values of the following two terms be?

### 'spam' + 'spamspam'

### 'spam' * 3

In [24]:
'spam' + 'spamspam'  # Here, concatnation happens.

'spamspamspam'

In [1]:
'spam' * 3          # Here, repeats for 3 times.

'spamspamspam'

The values of following two terms are 'spamspamspam'.

# 8. Why is eggs a valid variable name while 100 is invalid?

In python, the variables should always start with either alphabets or underscore( _ ) and should not start with numbers and special characters ( $,&,...etc).

* Here, eggs is a valid variable since it starts with an alphabet.
* 100 is invalid variable since it starts with a digits.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

The functions of:

* `int()` = integer  
    
* `float()`= floating-point numbers  
    
* `str()` = string

In [26]:
 # integer function , int()
    
a = 12.44

int(a)

12

In [27]:
# floating-point numbers , float()

b = 12

float(b)

12.0

In [30]:
# string

c = 123

str(c)

'123'

# 10. Why does this expression cause an error? How can you fix it?

### 'I have eaten' + 99 + 'burritos'

In [31]:
 'I have eaten' + 99 + 'burritos'

TypeError: can only concatenate str (not "int") to str

concatenation of integer with string data type is not possible. This can be fixed by converting the 99 which is an integer to string data type i.e., '99'.

In [33]:
'I have eaten ' + '99' + ' burritos'

'I have eaten 99 burritos'